/* Tingkatkan rendering teks awal */
html { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
@media (prefers-reduced-motion: no-preference) {
	:root { scroll-behavior: smooth; }
}
@import "tailwindcss";

/* You can add custom base styles here if needed */
